/* guide */

/* .header, .main, .footer {
    border: 2px solid olive;
    background: orange;
} */
/* .main_content .content_left, 
.main_content .aside,
.content_left_topsection .ifa_info,
.content_left_topsection .franchise_matching,
.franchise_article .fr_article {
    border: 3px solid olive;
    background: orange;
} */


/* full body */
*{
    box-sizing: border-box;
}
.clear::after {
    display: block;
    content: "";
    clear: both;
}

/* header */
/* header-topbar icons */
.topbar {
    height: 70px;
    background-color: #006230;
    /* vertical-align: middle;
    -webkit-vertical-align: middle; */
    align-items: center;
    -webkit-align-items:center;
}
.topbar .home_icon {
    float: left;
    padding: 5px;
    color: #fff;
    font-size: 16px;
    align-items: center;
}
.topbar .header_topbar_right_icon {
    float: right;
    align-items: center;
}
.header_topbar_right_icon i {
    margin-left: 40px;
    padding: 5px;
    color: #fff;
    font-size: 16px;
}

/* header-navigation menu */
.nav {
    background: #fff;
}
.nav ul {
    margin-left: 50%;
}
.nav li {
    display: inline-block;
} 
.nav li:last-child {
    padding: 5px;
    background-color: #006230;
}
.nav li:last-child a {
    color: #fff;
    font-weight: bold;
}
.nav li a {
    padding: 10px 25px;
    color: #006230;
    font-weight: bold;
}

/* main */
/* main title imgs */
.imgcontainer img{
    width: 100%;
    height: 863px;
    z-index: 3;
}

/* sign in */
.sign_in {
    position: absolute;
    top: 350px;
    right: 50px;
    width: 250px;
    height: 100px;
    margin: 0 10px;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    z-index: 9;
}
.sign_in b {
    display: none;
}
.sns ul {
    display: flex;
    justify-content: flex-end;
}
.sns li {
    margin-left: 30px;
}

/* main content */
.main_content {
    position: relative;
    top: -50px;
    margin: 0 50px;
    padding: 50px;
    background: #fff;
    border-radius: 30px;
}

/* content left side */
.main_content .content_left {
    float: left;
    width: 70%;
    margin-right: 40px;
    box-sizing: border-box;
}

/* ifa info */
.content_left_topsection .ifa_info {
    float: left;
    width: calc(40% - 40px) ;
    border: 3px solid #006230;
    background: orange;
    box-sizing: border-box;
}
/* franchise_matching */
.content_left_topsection .franchise_matching {
    float: left;
    width: 60%;
    margin-left: 40px;
    border: 2px solid #006230;
    box-sizing: border-box;
}
.franchise_matching img {
    max-width: 100%;
    height: auto;
}
.franchise_matching .fm_text {
    position: absolute;
    top: 120px;
    right: 50%;
    transform: translate(47.5%, -50%);
    border: 2px solid #006230;
    background: #fff;
    align-items: center;
    opacity: .8;
}
.fm_text h1 {
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.fm_text h3 {
    color: #333;
    font-size: 1.35rem;
    text-align: center;
}

/* franchise article */
.franchise_article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}
.franchise_article .fr_article {
    width: 30%;
}
.fr_article {
    border: 2px solid #006230;
}
.fr_article img {
    width: 100%;
    height: 250px;
    border-bottom: 2px solid #006230;
}

/* aside */
.main_content .home_aside {
    float: left;
    width: calc(30% - 40px);
    box-sizing: border-box;
}

/* main bottom side button */
.btn-wrap {
    display: flex;
    margin: 30px auto;
    flex-direction: row;
    justify-content: space-evenly;
}
.btn {
    padding: 5px 10px;
    border: 2px solid #006bb7;
    background: #fff;
    color: #006bb7;
    font-size: 1.5rem;
    font-weight: bold;
}

/* footer */
/* footer-community logo */
.footer {
    background: #fff;
}
.community li {
    float: left;
    padding: 0 10px;
}
.community li a {
    display: inline-block;
    padding: 10px;
}
.community .community_logo img {
    width: 230px;
    height: 95px;
    background-size: contain;
}

/* footer-franchise logo */
.franchise li {
    float: left;
    padding: 0 5px;
}
.franchise li a {
    display: inline-block;
    padding: 5px;
}
.franchise .franchise_logo img {
    width: 80px;
    height: 80px;
    background-size: contain;
}
.franchise .franchise_logo_size2 img {
    width: 180px;
    height: 80px;
    background-size: contain;
}
.franchise .franchise_logo_size3 img {
    width: 280px;
    height: 80px;
    background-size: contain;
}
.franchise .franchise_logo3 img {
    width: 360px;
    height: 80px;
    background-size: contain;
}

.footer .company_info {
    background-color: #006230;
    margin-bottom: 10px;
}
.company_info .padding {
    padding-bottom: 50px;
}
.col {
    width: 15%;
    margin-left: 50px;
}
.col h4 {
    margin-top: 60px;
    margin-bottom: 20px;
    color: #fff;
    font-size: .625rem;
}
.col p, .col a {
    line-height: 24px;
    color: #fff;
    font-size: .875rem;
}
.company_info .subscribe {
    position: absolute;
    bottom: 50px;
    right: 25%;
}
.subscribe p {
    margin-bottom: 10px;
    color:#fff;
    font-size: .875rem;
}

