/* full body area */
body {
    font: 14px, 맑은 고딕;
}
.container {
    position: absolute;
    width: 960px;
    margin: 0 10px;
}
/* header area */
header {
    position: relative;
    width: 960px;
    height: 300px;
    margin-top: 10px;
    background: url('../images/bg.png') no-repeat left top;
}
header h1 {
    position: absolute;
    right: 20px;
    bottom: 110px;
    color: rgb(247, 247, 177);
    font-size: 2.75rem;
    font-weight: bold;
    /* syntax : text-shadow: h-shadow v-shadow blur-radius color; */
    text-shadow: 1px 2px 2px black;
}
header h2 {
    position: absolute;
    right: 20px;
    bottom: 67px;
    color: yellow;
    font-size: 1.75rem;
    font-weight: bold;
}
/* navigation menu bar area */
nav.navi {
    position: relative;
    width: 960px;
    height: 62px;
    margin-top: -30px;
    background: black;
}
.navi ul {
    list-style-type: none;
}
.navi ul li {
    float: left;
    margin: 0 0 0 70px;
    padding: 25px 50px 20px 0px;
}
/* navigation menu event */
.navi ul li a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}
.navi a:hover, .navi a:active, .navi a:focus {
	color:orange;
}
/* content area (main and side) */
p {
    padding: 7px;
    font-size: 14px;
    line-height: 1.4;
}
/* main content area */
.content {
    float: left;
    clear: both;
    width: 730px;
    padding: 5px;
}
.content h2 {
    padding: 20px 5px;
    font-size: 1.35rem;
    font-weight: bold;
}
.content h3 {
    padding: 5px;
    font-weight: bold;
}
.content p {
    padding-left: 0;
    white-space: pre-line;
}
.content .banner {
    padding: 10px;
}
/* right side content area */
.rightsidebar {
    float: right;
    width: 200px;
    height: 540px;
    padding: 25px 10px 25px 10px;
    background-color: rgb(225, 250, 221);
}
.rightsidebar>img {
    width: 200px;
    height: 120px;
    margin-bottom: 7px;
}
.rightsidebar h3 {
    padding: 10px 0px;
    font-weight: bold;
}
.rightsidebar p {
    padding: 15px 0px;
    font-size: 0.5rem;
}
