@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
}

/* layout guide */
/* .header, .nav, .section, .aside, .footer {
    border: 2px solid blue;
    background-color: orange;
}  */

/* header area */
.header h1 {
    padding: 10px;
    color: #83a4a8;
    font-size: 2.5rem;
    font-family: 'Gochi Hand', cursive;
}

/* navigation menu area */
.nav {
    background-color: #77bfc7;
}
.nav ul:after {
    content:"";
    display: block;
    clear: both;
}
.nav li {
    float: left;
    width: auto;
}
.nav li a {
    display: block;
    padding: 15px 10px 15px 15px;
}
.nav li a {
    color: black;
    font-size: 0.65rem;
    text-decoration: none;
}
.nav li a:hover {
    background-color: skyblue;
}

/* content area */

/* thumbs up badge area */
.pickup {
    position: relative;
}
.badge {
    position: absolute;
    top: 44%;
    right: -15px;

    width: 120px;
    height: 120px;
    padding-top: 25px;
    color: #fff;
    border-radius: 60px;
    box-sizing: border-box;
    box-shadow: 0 0 4px #aaa;
    background-color: #00a0e9;
    text-align: center;
}
.badge i {
    display: block;
    font-size: 40px;
}
/* article summary area */
.summary {
    margin-bottom: 20px;
}
.summary a {
    display: block;
    border: 1px solid #ddd;
    color: #000;
    text-decoration: none;
}
.summary a:hover {
    box-shadow: 0 0 10px #ddd;
}
.summary img {
    max-width: 100%;
    height: auto;
    border: none;
    margin-bottom: 15px;
    vertical-align: bottom;
}
.summary h1 {
    margin: 0 15px 5px 15px;
    font-size: 22px;
}
.summary p {
    margin: 0 15px 15px 15px;
    font-size: 14px;
}
.more {
    display: inline-block;
    padding: 5px 15px;
    background-color: #3077be;
    color: #fff;
}
.more i {
    margin-left: 10px;
}

/* page navigation button */
.pagenav {
    text-align: center;
}
.pagenav ul {
    display: inline-block;
}
.pagenav ul:after {
    content: "";
    display: block;
    clear: both;
}
.pagenav li {
    float: left;
    width: auto;
}
.pagenav li a {
    display: block;
    margin: 0 5px;
    padding: 5px 10px;
    color: #000;
    font-size: 14px;
    border: 1px solid #aaa;
    text-decoration: none;
}
.pagenav li a.active {
    background-color: #ccc;
}
.pagenav li a:hover {
    background-color: #eee;
}


/* tag button area */
.tag-btn:after {
    content: "";
    display: block;
    clear: both;
}
.tag-btn ul {
    margin-left: 10px;
}
.tag-btn li {
    float: left;
}
.tag-btn li a {
    display: block;
    margin: 20px 0px 5px 10px;
    padding: 5px;
    color: white;
    font-size: .67rem;
    border-radius: 2px;
    background-color: skyblue;
    text-align: center;
    text-decoration: none;
}

/* left-section area */
.section {
    padding: 0 10px;
}
.section h1 {
    margin: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
.section time {
    padding-left: 10px;
    font-size: .8rem;

}
.section p {
    padding-top: 10px;
    padding-bottom: 15px;
    line-height: 1.15;
}
.section img {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}
.section h2 {
    margin: 10px 0;
    padding-left: 10px;
    border-left: 5px solid skyblue;
    font-size: 1.25rem;
}

/* share button area */
.l-share {
    margin: 30px 0;
}
.l-share ul:after{
    content:"";
    display: block;
    clear: both;
}
.l-share li {
    float: left;
    width: 33.333%;
}
.l-share li a {
    display: block;
    padding: 5px;
    color: white;
    font-size: 0.85rem;
    text-decoration: none;
    text-align: center;
}
.l-share li a:hover {
    color: #000;
    background-color: #eee;
}
.l-share .share-tw {
    background-color: #55acee;
}
.l-share .share-fb {
    background-color: #3b5998;
}
.l-share .share-gg {
    background-color: #dd3b49;
}

/* article - related story area */
.article {
    padding: 15px;
    background-color: #eee;   
}
.article > h3 {
    color: #727224;
    font-size: 1.15rem;
}
.l-article:after {
    content: "";
    display: block;
    clear: both;
}
.l-article li {
    float: left;
    width: 25%;
}
.l-article li a {
    display: block;
    padding: 3px;
}
.l-article li a:hover {
    background-color: #eee;
    text-decoration: underline;
}
.article li a {
    line-height: 1.25;
    color: #000;
    font-size: 0.85rem;
    text-decoration: none;
}

/* aside area */
.aside {
    padding-left: 5px;
}
.aside h3 {
    margin-top: 20px;
    color: #000;
    font-size: 1.15rem;
    font-weight: bold;
    border-bottom: 2px dotted rgb(195, 203, 207);
}

/* feature story area */
.l-feature ul {
    margin-top: 15px;
}
.l-feature li a {
    display: block;
    padding: 5px;
    color: #000;
    font-size: 1rem;
    text-decoration: none;
}
.l-feature li a:hover {
    color: white;
    background-color: rgb(102, 97, 97);
}
.l-feature li i {
    padding-right: 5px;
}

/* recommend story area */
.l-recommend li {
    position: relative;
    padding: 10px auto;
}
.l-recommend li img {
    padding-top: 15px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.l-recommend .title {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    color: white;
    font-size: 1rem;
    background-color: black;
    opacity: .6;
}

/* popular story area */
.l-popular h3 {
    margin-bottom: 15px;
}
.l-popular li a {
    display: block;
    padding: 5px;
    border-bottom: 2px dotted #ddd;
    color: #2288bb;
    font-size: 14px;
    text-decoration: none;
}
.l-popular li a:hover {
    background-color: #eee;
}
.l-popular a:after {
    content:"";
    display: block;
    clear: both;
}
.l-popular img {
    float: left;
    width: 60px;
}
.l-popular .description {
    float: none;
    width: auto;
    margin-left: 60px;
    padding-left: 15px;
}
.l-popular span {
    display: block;
    color: #666;
    font-style: 12px;
}

/* footer area */
.footer {
    margin-top: 20px;
    border-top: 2px dotted #eee;
}
.footer p {
    padding: 20px;
    color: #666;
    font-style: 1rem;
    }
.footer p a {
    display: inline-block;
    padding: 5px;
    clear: both;
    text-decoration: none;
}

/* layout spacing */
.top  .content {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* responsive web area */

/* width - less than 600px */
@media (max-width: 599px) {
    
    .badge {
        top: -8px;
        right: 10px;
        transform: scale(0.5);
        transform-origin: right top;
    }
    .nav li a {
        font-size: .5rem;
    }
    .section h1 {
        font-size: 1.25rem;
    }
    .section h2 {
        font-size: 1rem;
    }
    .section p {
        font-size: .85rem;
    }
    .l-share span {
        display: inline-block;
        text-indent: -9999px;
    }
    .left-aside {
        margin-bottom: 40px;
    }
    .l-article li {
        width: 50%;
        text-align: center;
    }
    .l-article li:nth-child(3) {
        clear: both;
    }
    .l-article .description {
        text-align: left;
    }
    .l-recommend ul {
        padding: 0 10px;;
    }
    .right-aside {
        margin-bottom: 40px;
    }
}

/* width 600px and more */
@media (min-width:600px) {
    .content-1 {
        content: "";
        display: block;
        clear: both;
    }
    .content-1 .summary {
        float: left;
        width: 50%;
    }
    .content-1 .summary:nth-child(odd) {
        padding-right: 15px;
        box-sizing: border-box;
        clear: both;
    }
    .content-1 .summary:nth-child(even) {
        padding-left: 15px;
        block-sizing:border-box;
    }

}

/* width is between 600~766px */
@media (min-width: 600px) and (max-width: 766px) {

    .badge {
        top:30%;
        right: 15px;
    }
    .left-aside {
        float : left;
        width: 50%;
        margin-bottom: 40px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .right-aside {
        float : right; 
        width: 50%; 
        padding-left: 10px;
        box-sizing: border-box;
    }
    .footer {
        clear: both;
    }

}


/* width - 768px and more */
@media (min-width:767px) {
    
    .pickup h1 {
        font-size: 30px;
    }
    .content:after {
        content: "";
        display: block;
        clear: both;
    }
    .section {
        float: left;
        width: 70%;
        margin-bottom: 30px;
    }
    .aside {
        float: left;
        width: 30%;
    }

}

/* width - 1040px and more */
@media (min-width: 1040px) {

    .header, .inner-nav, .content, .inner-footer {
        width: 1000px;
        margin: 0 auto;
    }
}





